.Agregar-Imagen-Producto{
	width: 450px;
	margin: auto;
	background: #671617;
	padding: 20px 20px;
	box-sizing: border-box;
    position: relative;
	margin-top: 100px;
	margin-bottom: 50px;
	color: white;
	box-shadow: 7px 13px 37px #0c0203;
	border-radius: 4px;
}
.Agregar-Imagen-Producto h2{
	text-align: center;
	margin-bottom: 10px;
}
.Agregar-Imagen-Producto .Control{
	width: 100%;
	background: #f27813;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #0c0203;
	font-size: 15px;
	color: white;
}
.Agregar-Imagen-Producto .Selecionar-Imagen{
	width: 100%;
	margin-bottom: 16px;
	font-size: 15px;
	color: white;
}
.Agregar-Imagen-Producto .Boton1{
	width: 100%;
	background: #f27813;
	border: none;
	padding: 10px;
	color: white;
	margin: 5px 0;
	font-size: 16px;
	margin-bottom: 7px;
}
.Agregar-Imagen-Producto .Boton1:hover{
	cursor: pointer;
	background: #ad0607;
}
.Agregar-Imagen-Producto .Boton2{
	width: 100%;
	background: #ad0607;
	border: none;
	padding: 10px;
	color: white;
	margin: 5px 0;
	font-size: 16px;
	margin-bottom: 20px;
}
.Agregar-Imagen-Producto .Boton2:hover{
	cursor: pointer;
	background: #f27813;
}
.Agregar-Imagen-Producto .Boton3{
	width: 100%;
	background: #f27813;
	padding: 10px 100px;
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
	text-decoration: none;
}
.Agregar-Imagen-Producto .Boton3:hover{
	cursor: pointer;
	background: #ad0607;
}
@media(max-width:470px){
	.Agregar-Imagen-Producto{
		width: 380px;
		background: #671617;
	}
	.Agregar-Imagen-Producto .Boton3{
		padding: 10px 65px;
	}
}
@media(max-width:390px){
	.Agregar-Imagen-Producto{
		width: 340px;
		background: #671617;
	}
	.Agregar-Imagen-Producto .Boton3{
		padding: 10px 45px;
	}
}
input[type="number"] {
 margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 -webkit-appearance: none; 
 margin: 0; 
}

input[type=number] {
 -moz-appearance:textfield;
}
.Tabla-Imagenes{
	padding: 25px 10px;
}
.Tabla-Imagenes table, th, td{
	border: 3px solid #89072b;
	border-collapse: collapse;
	background: rgb(246, 217, 109, 0.5);
	text-align: center;
}
.Tabla-Imagenes th{
	padding: 5px 10px;
	text-align: center;
}
.Tabla-Imagenes td{
	padding: 5px 10px;
}
.IMG-T{
	width: 75px;
	height: 75px;
}
.Botones-U{
	display: flex;
}
@media(max-width: 460px){
	.Tabla-Imagenes table{
		width: 100%;
	}
	.Tabla-Imagenes table, th, td{
		border: none;
		background: none;
	}
	.Tabla-Imagenes table tr{
		display: flex;
		flex-direction: column;
		border: 1px solid #2F2F2F;
		padding: 5px 10px;
		margin-bottom: 20px;
		background: rgb(246, 217, 109, 0.5);
	}
	.Tabla-Imagenes table thead{
		display: none;
	}
	.Tabla-Imagenes table td[data-titulo]{
		display: flex;
	}
	.Tabla-Imagenes table td[data-titulo]::before{
		content: attr(data-titulo);
		width: 100px;
	}
	.Botones-U{
		justify-content: center;
		align-items: center;
	}
}